section {
  padding-top: 100px;
  min-height: calc(100vh - 100px);
  background-color: #14262D;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

section h1 {
  color: #6DC0A2;
  font-family: Corbel Bold;
  font-size: 3rem;

}

section p {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}