footer {
  height: 100px;
  width: 100vw;
  background-color: #14262D;
  text-align: center;
  line-height: 100px;
  color: #ffffff;
  font-family: Corbel Light;
}
footer a {
  color: #ffffff;
  font-family: Corbel Bold;
}

@media screen and (max-width: 375px)
{
  footer {
  font-size: .8rem;
  }
  footer a {
    font-size: .8rem;
  }
}